<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a [routerLink]="['/home']">Home</a>
  </li>
  <li class="breadcrumb-item">
    <a [routerLink]="['/landing']">Menu</a>
  </li>
  <li class="breadcrumb-item active">Ventas</li>
</ol>


<div class="row">
  <div class="col-3 mx-auto">
    <div class="nauk-info-connections text-center">
      <select class="custom-select">
        <option selected>Periodo</option>
        <option value="actual">Mes Actual</option>
        <option value="anterior">Mes Anterior</option>
      </select>
      <hr>
      <select class="custom-select">
        <option selected>Zona</option>
        <option value="zona_n">Zona Norte</option>
        <option value="zona_s">Zona Sur</option>
        <option value="zona_c">>Zona Centro</option>
        <option value="zona_a">Zona Autoservicio</option>
      </select>
      <hr>
      <select class="custom-select">
        <option selected>Vendedores</option>
        <option value="v_1">Vendedor 1</option>
      </select>
    </div>
  </div>
</div>
